<header id="header">
  <nav>
    <ul>
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/about" class="active">About</a></li>
      <li><a href="/help" class="active">Help</a></li>
    </ul>
  </nav>
</header>